<nav class="nav" id="nav">
  <a id="imgNav">
    <img src="../assets/logo.svg" alt="">
  </a>
  <section class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link " [routerLink]="['/ventas']" routerLinkActive="router-link-active" >Ventas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/clientes']" routerLinkActive="router-link-active" >Clientes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/articulos']" routerLinkActive="router-link-active" >Articulos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/configuracion']" routerLinkActive="router-link-active" href="#">Configuración</a>
    </li>
  </section>
</nav>


<router-outlet></router-outlet>
