
  <section class="container">
      <section id="btnContain">
        <button class="btn btn-primary" [routerLink]="['/nuevoCliente']" routerLinkActive="router-link-active" >Nuevo cliente</button>
      </section>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido Materno</th>
            <th scope="col">RFC</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of clientes">
            <th scope="row">{{item.clienteId}}</th>
            <td>{{item.nombre}}</td>
            <td>{{item.apellidoPaterno}}</td>
            <td>{{item.apellidoMaterno}}</td>
            <td>{{item.rfc}}</td>
            <td>
              <button [routerLink]="['/editarCliente/',item.clienteId]" routerLinkActive="router-link-active"  class="btn btn-success"><i class="fas fa-edit"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  