<section class="container">
  <!-- <section id="btnContain">
        <button class="btn btn-primary" [routerLink]="['/nuevoCliente']" routerLinkActive="router-link-active" >Nuevo cliente</button>
      </section> -->
  <h4 id="titulo">Registro de ventas</h4>
  <section class="selectContainer">
    <span class="label">Cliente</span>
    <ng-select (change)="selectUsuario($event)" class="select" [items]="clientes" bindValue="clienteId"
      bindLabel="label"></ng-select>
    <span id="label2">RFC: {{usuarioSelected.rfc}}</span>
  </section>
  <section class="selectContainer">
    <span class="label">Articulo</span>
    <ng-select (change)="selectArticulo($event)" class="select" [items]="articulos" bindValue="articuloId"
      bindLabel="descripcion"></ng-select>
    <span (click)="addArticulo()" id="label3">+</span>
  </section>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Descripción</th>
        <th scope="col">Modelo</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
        <th scope="col">Importe</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of articulosSelected; let i = index;">
        <th scope="row">{{item.articuloId}}</th>
        <td>{{item.descripcion}}</td>
        <td>{{item.modelo}}</td>
        <td><input type="text" (change)="changeCantidad(i)" [(ngModel)]="item.cantidad"></td>
        <td>{{item.precio}}</td>
        <td>{{item.importe}}</td>
        <td><button (click)="eliminar(i)" class="btn btn-danger"><i class="fas fa-times"></i></button></td>
      </tr>
    </tbody>
  </table>
  <section class="selectContainer" style="float: right; text-align: right">
    <span id="label4">Enganche:</span>
    <span style="margin-left: 15px;">{{enganche}}</span> <br><br>
    <span id="label4">Bonificación Enganche:</span>
    <span style="margin-left: 15px;">{{bonificacion}}</span><br><br>
    <span id="label4">Total:</span>
    <span style="margin-left: 15px;">{{total}}</span>
  </section>
  <div style="clear: both;"></div>
  <table *ngIf="abonosMensuales.length > 0" class="table">
    <thead class="thead-light">
      <tr>
        <th colspan="5">Abonos mensuales</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of abonosMensuales; let i = index;">
        <td>{{item.mensualidad}} ABONOS DE</td>
        <td>{{item.abono | currency}}</td>
        <td>TOTAL A PAGAR {{item.totalPagar | currency}}</td>
        <td>SE AHORRA {{item.ahorro | currency}}</td>
        <td><input name="mensualidad" (change)="selectMesualidad(i,item)" [checked]="item.mensualidadSelected" type="radio"></td>
      </tr>
    </tbody>
  </table>
  <section id="btnC">
      <a (click)="cancelar()" class="btn btn-danger">Cancelar</a>
      <a *ngIf="abonosMensuales.length == 0" (click)="siguiente()" class="btn btn-success">Siguiente</a>
      <a *ngIf="abonosMensuales.length > 0" (click)="guardar()" class="btn btn-success">Guardar</a>
  </section>
</section>
