#btnContain {
  text-align: right;
  margin: 5px 0px;
}

#titulo {
  margin-top: 20px;
}

#label2 {
  margin-left: 15px;
  padding: 6px 15px;
  border-radius: 5px;
}

#btnC {
  text-align: right;
  margin-top: 10px;
}

#label3 {
  margin-left: 15px;
  padding: 6px 15px;
  color: white;
  background: rgb(17, 185, 11);
  border-radius: 5px;
}

#label4 {
  margin-left: 15px;
  padding: 6px 15px;
  color: white;
  background: rgb(122, 124, 124);
  border-radius: 5px;
}

.select {
  width: 25%;
  display: inline-block;
}

.label {
  float: left;
  color: white;
  background: rgb(48, 150, 233);
  padding: 6px 15px;
  border-radius: 5px;
}

.selectContainer {
  padding: 15px 0px;
}

.btn-danger {
  float: left;
  color: white !important;
}

.btn-success {
  float: right;
  color: white !important;
}