<section class="container">
    <h4 id="titulo">Configuración General</h4>
    <form id="form" [formGroup]="form" (submit)="guardar($event)">
      <div>
        <label>Tasa finaciamiento</label>
        <input class="form-control" type="number" placeholder="Tasa finaciamiento" formControlName="tasa">
        <span class="text-danger"
          *ngIf="form.controls['tasa'].hasError('required') && (form.controls['tasa'].dirty || form.controls['tasa'].touched)">Este
          campo es requerido</span>
      </div>
      <div>
        <label>% Enganche</label>
        <input class="form-control" type="number" placeholder="% Enganche" formControlName="enganche">
        <span class="text-danger"
          *ngIf="form.controls['enganche'].hasError('required') && (form.controls['enganche'].dirty || form.controls['enganche'].touched)">Este
          campo es requerido</span>
      </div>
      <div>
        <label>Plazo maximo</label>
        <input class="form-control" type="number" placeholder="Plazo maximo" formControlName="plazo">
        <span class="text-danger"
          *ngIf="form.controls['plazo'].hasError('required') && (form.controls['plazo'].dirty || form.controls['plazo'].touched)">Este
          campo es requerido</span>
      </div>
     
      <div id="btnC">
        <!-- <a (click)="cancelar()" class="btn btn-danger">Cancelar</a> -->
        <button class="btn btn-success" type="submit">Guardar</button>
      </div>
    </form>
   
  </section>
  