<section class="container">
    <h4 *ngIf="!clientId" id="titulo">Alta de clientes</h4>
    <h4 *ngIf="clientId" id="titulo">Edición de clientes</h4>
    <form id="form" [formGroup]="form" (submit)="guardar($event)">
      <div>
        <label>Nombre</label>
        <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre">
        <span class="text-danger"
          *ngIf="form.controls['nombre'].hasError('required') && (form.controls['nombre'].dirty || form.controls['nombre'].touched)">Este
          campo es requerido</span>
      </div>
      <div>
        <label>Apellido Paterno</label>
        <input class="form-control" type="text" placeholder="Apellido Paterno" formControlName="apellidoPaterno">
        <span class="text-danger"
          *ngIf="form.controls['apellidoPaterno'].hasError('required') && (form.controls['apellidoPaterno'].dirty || form.controls['apellidoPaterno'].touched)">Este
          campo es requerido</span>
      </div>
      <div>
        <label>Apellido Materno</label>
        <input class="form-control" type="tex" placeholder="Apellido Materno" formControlName="apellidoMaterno">
        <span class="text-danger"
          *ngIf="form.controls['apellidoMaterno'].hasError('required') && (form.controls['apellidoMaterno'].dirty || form.controls['apellidoMaterno'].touched)">Este
          campo es requerido</span>
      </div>
      <div>
        <label>RFC</label>
        <input class="form-control" type="text" placeholder="Existencia" formControlName="rfc">
        <span class="text-danger"
          *ngIf="form.controls['rfc'].hasError('required') && (form.controls['rfc'].dirty || form.controls['rfc'].touched)">Este
          campo es requerido</span>
      </div>
      <div id="btnC">
        <a (click)="cancelar()" class="btn btn-danger">Cancelar</a>
        <button class="btn btn-success" type="submit">Guardar</button>
      </div>
    </form>
   
  </section>
  