#form{
  margin: 20px 0px;
}
#btnC{
  text-align: right;
  margin-top: 10px;
}
#titulo{
  margin-top: 20px;
}
.btn-danger {
  float: left;
  color: white !important;
}

.btn-success {
  float: right;
}