<section class="container">
  <h4 id="titulo">Alta de articulos</h4>
  <form id="form" [formGroup]="form" (submit)="guardar($event)">
    <div>
      <label>Descripción</label>
      <input class="form-control" type="text" placeholder="Descripcion" formControlName="descripcion">
      <span class="text-danger"
        *ngIf="form.controls['descripcion'].hasError('required') && (form.controls['descripcion'].dirty || form.controls['descripcion'].touched)">Este
        campo es requerido</span>
    </div>
    <div>
      <label>Modelo</label>
      <input class="form-control" type="text" placeholder="Modelo" formControlName="modelo">
      <span class="text-danger"
        *ngIf="form.controls['modelo'].hasError('required') && (form.controls['modelo'].dirty || form.controls['modelo'].touched)">Este
        campo es requerido</span>
    </div>
    <div>
      <label>Precio</label>
      <input class="form-control" type="number" placeholder="Precio" formControlName="precio">
      <span class="text-danger"
        *ngIf="form.controls['precio'].hasError('required') && (form.controls['precio'].dirty || form.controls['precio'].touched)">Este
        campo es requerido</span>
    </div>
    <div>
      <label>Existencia</label>
      <input class="form-control" type="number" placeholder="Existencia" formControlName="existencia">
      <span class="text-danger"
        *ngIf="form.controls['existencia'].hasError('required') && (form.controls['existencia'].dirty || form.controls['existencia'].touched)">Este
        campo es requerido</span>
    </div>
    <div id="btnC">
        <a (click)="cancelar()" class="btn btn-danger">Cancelar</a>
        <button class="btn btn-success" type="submit">Guardar</button>
    </div>
  </form>
 
</section>
