
  <section class="container">
    <section id="btnContain">
      <button class="btn btn-primary" [routerLink]="['/nuevoArticulo']" routerLinkActive="router-link-active" >Nuevo articulo</button>
    </section>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Descripción</th>
          <th scope="col">Modelo</th>
          <th scope="col">Precio</th>
          <th scope="col">Existencia</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of articulos">
          <th scope="row">{{item.articuloId}}</th>
          <td>{{item.descripcion}}</td>
          <td>{{item.modelo}}</td>
          <td>{{item.precio}}</td>
          <td>{{item.existencia}}</td>
          <td><button [routerLink]="['/editarArticulo/',item.articuloId]" routerLinkActive="router-link-active"  class="btn btn-success"><i class="fas fa-edit"></i></button></td>
        </tr>
      </tbody>
    </table>
  </section>
