
  <section class="container">
    <section id="btnContain">
      <button class="btn btn-primary" [routerLink]="['/nuevaVenta']" routerLinkActive="router-link-active" >Nueva venta</button>
    </section>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Folio Venta</th>
          <th scope="col">Clave Cliente</th>
          <th scope="col">Nombre</th>
          <th scope="col">Total</th>
          <th scope="col">Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ventas">
          <th scope="row">{{item.ventaId}}</th>
          <td>{{item.clienteId}}</td>
          <td>{{item.nombre}}</td>
          <td>{{item.total}}</td>
          <td>{{item.fecha | date:'short'}}</td>
        </tr>
      </tbody>
    </table>
  </section>
